---
http_interactions:
- request:
    method: get
    uri: http://icon.gtcc.nsw.gov.au/eplanning/Pages/XC.Track/SearchApplication.aspx?d=last14days&k=LodgementDate&o=xml&t=290
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?><NewDataSet>\r\n  <Application>\r\n    <ApplicationId>327084</ApplicationId>\r\n
        \   <NatureOfApplication>Development Application                           </NatureOfApplication>\r\n
        \   <NatureOfApplicationType>634</NatureOfApplicationType>\r\n    <NatureOfApplicationTypeX>DA</NatureOfApplicationTypeX>\r\n
        \   <ReferenceNumber>279/2019/DA/A</ReferenceNumber>\r\n    <Status>Notification</Status>\r\n
        \   <ReferenceNumberYear>2019</ReferenceNumberYear>\r\n    <ReferenceNumberNumber>279</ReferenceNumberNumber>\r\n
        \   <Amendment>A</Amendment>\r\n    <ApplicationDetails>Alterations and Additions
        and Use of Unauthorised Work</ApplicationDetails>\r\n    <CreatedDate>2019-05-28T00:00:00+10:00</CreatedDate>\r\n
        \   <LodgementDate>2019-05-28T00:00:00+10:00</LodgementDate>\r\n    <EstimatedCost>0.000000</EstimatedCost>\r\n
        \   <Officer>Adam Dean                                         </Officer>\r\n
        \   <DADays>10</DADays>\r\n    <ApplicationIdS>327084</ApplicationIdS>\r\n
        \   <Address>\r\n      <PropertyId>13020</PropertyId>\r\n      <ApplicationId>327084</ApplicationId>\r\n
        \     <Line1>25 Pacific Drive</Line1>\r\n      <Line2>Crowdy Head NSW 2427
        \                                             </Line2>\r\n      <FullLegalDescription>Lot
        4 Sec 1 DP 758310</FullLegalDescription>\r\n      <ApplicationIdS>327084</ApplicationIdS>\r\n
        \   </Address>\r\n    <Party>\r\n      <PartyId>52779048</PartyId>\r\n      <ApplicationId>327084</ApplicationId>\r\n
        \     <PartyRole>Applicant                                         </PartyRole>\r\n
        \     <Sequence>1</Sequence>\r\n      <FamilyName>SMITH</FamilyName>\r\n      <GivenName>KIM
        HOWARD</GivenName>\r\n      <Initial>KH   </Initial>\r\n      <NameType>P</NameType>\r\n
        \     <FullName>Kim Howard Smith</FullName>\r\n      <Line1>18/14 Hosking
        St\rBALMAIN EAST  NSW  2041</Line1>\r\n      <ApplicationIdS>327084</ApplicationIdS>\r\n
        \   </Party>\r\n    <Party>\r\n      <PartyId>52767748</PartyId>\r\n      <ApplicationId>327084</ApplicationId>\r\n
        \     <PartyRole>Municipality                                      </PartyRole>\r\n
        \     <Sequence>1</Sequence>\r\n      <FamilyName>GREATER TAREE CITY COUNCIL</FamilyName>\r\n
        \     <GivenName xm[...]
